---
---
<section>

    <div class="grid grid-cols-2 gap-4">
        <div class="flex flex-col gap-4 bg-primary-cyan text-secondary-blue p-4 rounded-lg">
            <h2>
                ¿Te intereza saber más?
            </h2>
            <p>Conozca más sobre nuestros servicios personalizados, impulse su estrategia con nosotros, comience hoy.</p>
            <a href="/contact" class="btn btn-primary">Explora nuestros planes</a>
            <a href="/contact" class="btn btn-primary">Mas servicios</a>
        </div>
        <div class="flex flex-col gap-4 bg-[#4F7CEC]/20 text-secondary-blue p-4 rounded-lg">
            <h2>
                Contáctanos
            </h2>
            <p>Habla con nosotros y aclara todas tus dudas sin compromiso alguno</p>
            <a href="/contact" class="btn btn-primary">Habla con nosotros</a>
           
        </div>
    </div>
</section>