---
import { ServicesMarquee } from "@/components/ui/ServicesMarquee";
import SplitTitle from "@/components/SplitTitle.astro";

---

<section class="pb-10">

  <div >
    <SplitTitle title={{
      main: "Consulting and",
      highlighted: " Software Development Services",
      
    }}
    highlightedClassName="text-primary-cyan" 
    />

    <ServicesMarquee client:load />
    
  </div>
</section>

