---
import { Image } from "astro:assets";
import { ServicesMarquee } from "@/components/ui/ServicesMarquee";
import CallToAction from "@/components/ui/CallToAction.astro";

import SplitTitle from "@/components/SplitTitle.astro";

---

<section class="pb-10">


  <div >
    <SplitTitle title={{
      main: "Featured",
      highlighted: "Services",
      
    }}
    highlightedClassName="text-primary-cyan" />

    <ServicesMarquee client:load />
    
  </div>
</section>

