---
import { TestimonialsMarquee } from "@/components/ui/TestimonialsMarquee";
---
    <div class="mb-32 mt-40">
        <h2 class="text-4xl md:text-5xl font-bold mb-12">Our <span class="text-primary-cyan">Clients</span> Say</h2>
        <TestimonialsMarquee />
    </div> 