---
import { TestimonialsMarquee } from "@/components/ui/TestimonialsMarquee";
import SplitTitle from "@/components/SplitTitle.astro";

const {
    title = "Our Clients Say",
    subtitle = "Hear from our clients about their experience working with us"
} = Astro.props;
---
    <div class="mb-32 mt-40">
        <SplitTitle title={{
            main: "Success Stories and  ",
            highlighted: "Testimonials from Satisfied Customers",
            
          }}
          highlightedClassName="text-primary-cyan"
          />
        <p class="text-lg mb-4">{subtitle}</p>
        <TestimonialsMarquee />
    </div> 